
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-2">
    <h4>Módulo Kardex Producto Almacen<span style="font-size:12px;color:#808080"> Dirección Departamental de Educación</span></h4>
    <div class="card mb-3 m-1">
        <div class="col-sm">
            <div style="height:550px">
                <h4 class="form-section"><i class="fa fa-users"></i> Buscar Producto por nombre</h4>
                <select id="IdProducto" onchange="ListaMovimientosProducto()" class="form-control">
                </select>
                <button type="button" onclick="Rtp_Kardex()" class="btn btn-outline-dark btn-block mt-2"><i class="fa fa-print"></i><span style="margin-left:5px">Reporte</span> </button>
                <h4 class="form-section"><i class="fa fa-users"></i> Detalle de movimiento del producto seleccionado</h4>
                <div class="containerCustom table-responsive">
                    <table class='table table-hover table-sm' style='font-size:12px;'>
                        <thead>
                            <tr style="background-color:#17a2b8;border-color:#17a2b8;color:white">
                                <th width='1px'>Nº</th>
                                <th>Proveedor</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Precio Compra</th>
                                <th>Cantidad</th>
                                <th>Nº Inicio</th>
                                <th>Nº Fin</th>
                            </tr>
                        </thead>
                        <tbody id="AlmacenKardexTableHtml">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_RtpKardex" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reporte Kardex por fecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                                
                <label>Fecha Inicio</label>
                <input type="date" class="form-control" id="FechaIni" />
                <label>Fecha Fin</label>
                <input type="date" class="form-control" id="FechaFin" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancelar</button>
                <button type="button" class="btn btn-success" onclick="InformeKardex()"><i class="fa fa-print"></i> Generar Reporte</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        ListarProducto();
        function Rtp_Kardex() {
            $('#FechaIni').val("");
            $('#FechaFin').val("");
            $('#Modal_RtpKardex').modal('show');
        }
        function InformeKardex() {            
            var url = '@Url.Action("InformeKardexAlmacen", "Reportes")' + '?Tipo=PDF&FechaIni=' + $('#FechaIni').val() + '&FechaFin=' + $('#FechaFin').val();
            window.open(url);
        }
        function ListarProducto() {
            $.getJSON('@Url.Action("AllProducto", "Producto")', null, function (O) {
                var html = "";
                $('#IdProducto').empty();
                $('#IdProducto').append("");
                O.forEach((value, i) => {
                    html += "<option value='" + value.Id + "'>" + value.Nombre + "</option>";
                });
                $('#IdProducto').append(html);
            });
        }
        function ListaMovimientosProducto() {
            $.getJSON('@Url.Action("GetMovimientoKardex", "AlmacenKardex")', { IdProducto: $('#IdProducto').val() }, function (O) {
                var html = "";
                $('#AlmacenKardexTableHtml').empty();
                O.forEach((value, i) => {
                    html += "<tr><td>" + (i + 1) + "</td><td>" + value.NombreProveedor + "</td><td>" + value.Fecha + "</td><td>" + value.Estado + "</td><td>" + value.PrecioCompra + "</td><td>" + value.Cantidad + "</td><td>" + value.NumIni + "</td><td>" + value.NumFin + "</td></tr>";
                });
                $('#AlmacenKardexTableHtml').append(html);
            });
        }
    </script>
}

